
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_router_txt1 .orange {
    margin: 0 0 0 -21px;
    padding: 0 0 0 21px;
    width: 95%;
}
#ID_router_txt1{letter-spacing:-.8px !important;padding-left:4px !important;}
#ID_router_txt2{padding-left:4px !important;}
#ID_s1_txt02{
line-height:12px!important;
}

@media all and (device-width: 768px) and (device-height: 1024px) {
#ID_router_txt1 {left:2px !important;}
}
