
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_static_1,#ID_static_2,#ID_static_3,#ID_static_4,#ID_static_27,#ID_static_28,#ID_static_29,
#ID_static_10,#ID_static_20,#ID_static_23,#ID_static_13,#ID_static_19,#ID_static_26{color:#F68026 !important;letter-spacing:-.2px}

#ID_static_7,#ID_static_5,#ID_static_6,#ID_static_8,#ID_static_28_1,#ID_static_27_1,#ID_static_29_1{color:#652C8A !important}

#ID_static_4{letter-spacing:-.5px!important;}
#ID_router_txt2_2{
letter-spacing: -.6px;
}

#ID_router_txt4 .router4{
  background-color: #FACCA8;
    position: relative;
    top: -15px;
    left: 16px;
    width: 178px
	}

#ID_router_txt6{letter-spacing: -.4px;}

mark{background-color:#FACCA8}


@media only screen and (device-width: 768px) {
#ID_static_4,#ID_static_1{letter-spacing:-.55px}
}