
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.orange {width:100% !important;margin-left:-1px}
.orange_block {display:inline !important; background:url(circle_1.png) 4px 0px no-repeat #FACCA8;margin-left:-2px}
.circle_2 {background-position:3px 0px !important;}
#ID_router_txt3{letter-spacing:-0.6px}