
/*   load the main media CSS file    */


@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#canvasId,#canvasId_{height:358px !important;overflow-y:hidden;}
