
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

div[id^=ID_txt]{
	line-height: 11px !important;
	letter-spacing: -0.2px !important;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#ID_txt04,#ID_txt05,#ID_txt06,#ID_txt10,#ID_txt11,#ID_txt12{top:-4px !important;}
}