/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.pur1CallOut{
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#E0D5E6;
box-shadow:1px 1px 3px #000;

}

#ID_r1_txt01{font-family:Courier New !important;}
#ID_r1_txt02{font-family:Courier New !important;}
#ID_r1_txt03{font-family:Courier New !important;}
.arrow{margin-left:203px;}
.right{

	margin-left: 0px;
	
    
}
#ID_s2_table table{
	width:878px;
}