
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
	overflow-y:hidden; 
}
#flashContent {
	width:98%;
	height:98%;
}

.orange{
	width: 100%;
}

#ID_s2_txt01{
	z-index:15;
	text-align:left !important;
	letter-spacing:1px;
	padding:5px 8px;
	background-color:#FDE6D4;
	border : 2px solid #F68026;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
}

#imgContainer{
	z-index:10;
}

@media only screen and (device-width: 768px) {
#ID_s1_txt01 { top:-3px !important;}
#ID_s1_txt02 { top:-4px !important;}
#ID_s1_txt03 { top:-4px !important;}
#ID_s1_txt04 { top:-7px !important;}
}