@import url('../../../common/styles/media2.css');   

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
 
.expand{
	display: inline-block;
	width: 100%;
}

/*#ID_s1_txt01 font[face=_typewriter],#ID_s1_txt02 font[face=_typewriter] { 
	font-family: "Courier New";
}*/

font[face=_typewriter] { 
	font-family: "Courier New";
}

#ID_s1_table01 {
	line-height: 12px;
}

#spacer1,#spacer2,#spacer3{
	padding-left:30px;
}

#spacer4{
 padding-left:2px;
}
div[id^=ID_s1_table0]{
	line-height:12px;
} 

