
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s2_01, #ID_s3_01{left: 2px !important;}
#ID_s3_01{line-height:18px;}
#n5{top:6px;}
#n3, #n4{top:3px;}
#n1{top:9px; left: -8px;}
.connector {background: no-repeat top center url('connector.png') ; padding:13px; position:absolute; top:46px;}