
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#dnd_1_drag_1_0 div, #dnd_1_drag_2_0 div,  #dnd_1_drag_4_0 div,#dnd_2_drag_2_0 div, #dnd_2_drag_4_0 div,  #dnd_2_drag_5_0 div{
	margin-top:-2px;
	line-height:1.2em;
	margin-left:2px;
}
