
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt01{letter-spacing:-.9px;}
.orange {width: 412px; padding: 0px 3px; position: absolute; left: 4px;}
#ID_s2_txt01{padding-left:4px !important;line-height:15px}
