
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	overflow-y:hidden;

}
#flashContent {
	width:98%;
	height:98%;
}

.orange {
    width: 99.8% !important;
}
#ID_routerOutput1
{
line-height:12.3px !important;
}
@media only screen and (device-width: 768px) {
  #ID_s1_txt01{
  	top: 8px !important;
  }
}