
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#router_text2,#router_text4,#router_text5{line-height:16.5px ! important;padding:2px 0 0 2px}
span.lspace{letter-spacing:.8px; color:#F68026 ;}
span.bspace{padding-left:55px}

@media only screen and (device-width: 768px) {
 span.lspace{letter-spacing:.01px}
 span.bspace{padding-left:45px}
 #ID_txt01{margin-top:-17px;}
}