
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.Questions{ width:209px;
			height:186px;
			border:4px solid #00A1E3;
			border-radius:2px;
			-moz-border-radius:2px;
			-webkit-border-radius::2px;
			background-color:#CDEAF8;
			cursor:pointer;
			
		}
#ansHeader01{position:absolute;left:5px;top:5px;font-size:11px;text-align:center;}
#ansHeader02{position:absolute;left:217px;top:5px;font-size:11px;text-align:center;}
#ansHeader03{position:absolute;left:429px;top:5px;font-size:11px;text-align:center;}

#background{background-color:#98D3D1;
			position:absolute;
			width:650px;
			height:205px;
			left:104px;
			top:150px;
			border-radius:2px;
			-moz-border-radius:2px;
			-webkit-border-radius::2px;
			}
#description{
			background-color:#33A7A4;
			position:absolute;
			width:225px;
			height:130px;
			left:529px;
			top:2px;
			border-radius:3px;
			-moz-border-radius:3px;
			-webkit-border-radius::3px;
}
#descText{
	background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    font-size: 11px;
    height: 66px;
    left: 5px;
    padding-top: 15px;
    position: absolute;
    top: 45px;
    width: 211px;
	text-align:left;
	padding-left:5px;
	}
#ID_txt01{font-size: 11px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 8px;
    letter-spacing: -.2px}
#dvHeading{font-size: 11px;left: 310px;position: absolute;text-align: center;top: 143px;}

.button_add {
	background:url(text_button_gradient.png) top center repeat-x;
    border: none;          
    cursor: pointer;      
    height: 22px;          
    color:#ffffff;
	margin-top:20px;
	vertical-align:top;
	font-weight:bold;
	border-radius:3px;
	font-size:11px;
	width:114px;
	margin-left:19px;
	padding:0 2px 2px 0px;
}
.button_add:hover {
    background-image: url(text_button_gradient_selected.png); 
    background-color: transparent; 
   background-position: 0px 0px;  
    border: 1px solid #e9e7e8;          
    cursor: pointer;      
    height: 22px;          
    color:#006699;
	margin-top:20px;
	vertical-align:top;
	font-weight:bold;
	border-radius:3px;
	font-size:11px;
	width:114px;
	margin-left:19px;
	padding:0 2px 2px 0px;
}
#reset{position:absolute;left:93px;top:340px;}
#ans01{cursor: pointer;font-size: 11px;height: 160px;left: 12px;position: absolute;top: 35px;width: 208px;text-align:left;line-height:12px;}
#ans02{cursor: pointer;font-size: 11px;height: 160px;left: 224px;position: absolute; top: 35px;width: 202px;text-align:left;line-height:12px;overflow:auto;}
#ans03{cursor: pointer;font-size: 11px;height: 160px;left: 437px;position: absolute;top: 35px;width: 200px;text-align:left;line-height:12px;}
#ans04{cursor: pointer;font-size: 11px;height: 39px;left: 221px;position: absolute; top: 91px;width: 208px;text-align:left;}
#ans05{cursor: pointer;font-size: 11px;height: 39px;left: 9px;position: absolute; top: 152px;width: 208px;text-align:left;}
#ans06{cursor: pointer;font-size: 11px;height: 39px;left: 221px;position: absolute; top: 156px;width: 208px;text-align:left;}

.result p {
margin:0;
padding:2px;
height: 57px;
margin-left:0px
}

.result_2 p {
margin:0 0 20px;
padding:2px;


}
#pannel,#pannel_2 {
background-color: #C1ABD1;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 6px #3F3F3F;
    float: left;
    height: 95px;
    left: -236px;
    position: absolute;
    top: 20px;
    width: 188px;
}

.cross,.cross_2 {
width:96%;
border-bottom:3px solid #3d244c;
float:left;
margin-left:2%;
}

.cross a,.cross_2 a {
border:1px solid #3D244C;
float:right;
height:12px;
margin-bottom:1px;
margin-right:4px;
margin-top:4px;
width:12px;
}

.cross img,.cross_2 img {
float:right;
margin-right:1px;
margin-top:1px;
}

.cross span, .cross_2 span {
    color: #422950;
    display: block;
    float: left;
    font-size: 11px;
    margin-bottom: 0;

    margin-left: 0;
    margin-top: 4px;
    padding: 0;
}

.result,.result_2 {
background-color:#FFF;
width:96%;
float:left;
margin:2%;
font-size:11px;
overflow: auto;
text-align: left !important;
}

#pannel a,#pannel_2 a {
display:block!important;
}
#ID_s1_correctText{margin-left:-30px};


