
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#canvasId{height:398px !important; line-height:10px;}
@media only screen and (device-width: 768px) {
#ID_txt21{left:-20px !important;}
}