
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

.mtable1 {overflow: auto; -moz-box-shadow:0.1px 0.1px 2px 2px #a0a0a0;
		 -webkit-box-shadow:0.1px 0.1px 2px 2px #a0a0a0;
		 box-shadow:0.1px 0.1px 2px 2px #a0a0a0;
		 -webkit-border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
		-o-border-radius:4px;
		 border-radius:4px;
		 border-collapse: collapse;}
.mtable1 table{ border-collapse: collapse; width:100%;}
.mtable1 .title font{ font-size:14px; color:#3a3637;}
.mtable1 .mtitle { font-size:12px; color:#FFF;}
.mtable1 .msubtitle { font-size:11px;}
.mtable1 tr td { border:3px solid #FACCA8; padding:0px 3px;margin:0px; vertical-align:top !important;}
.mtable1 .mtable_top {line-height:2px; padding:0px; background-color:#CB6D25 !important; color:#434321 !important;}
.mtable1 .mtable_title {background-color:#0E6360 !important; color:#FFF;}
.mtable1 tr:nth-child(2n+1) { background-color:#EFF8F7;}
.mtable1 tr:nth-child(2n) { background-color:#ffffff;}
.mtable1 font[size="14"] { font-size:14px;}
.mtable1 font[size="12"] { font-size:12px;}
.mtable1 font[size="11"] { font-size:11px;}
.mtable1 font[size="10"] { font-size:10px;}
/*-------------------------------- End Common Table Css for all ----------------------------------*/