
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
@media only screen and (device-width: 768px) {
#ID_s1_txt09 {width:55px ! important}

}
#ID_s1_txt14{letter-spacing:-0.5px;}
#ID_s1_txt09{
font-size:10px !important;
}

#ID_static_7,#ID_static_36{
letter-spacing:-0.6px!important;
}
#ID_s1_txt02{
letter-spacing:-0.3px!important;
}
#ID_static_13,#ID_static_19,#ID_static_22,#ID_static_23{
letter-spacing:-0.5px!important;
}
#ID_s1_txt09{
line-height:10px!important;
}
#ID_s2_txt08{
line-height:10px!important;
}