
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

.red {background-color:#FACCA8; padding:1px; display:inline-block; margin-bottom:1.5px; width:397px;}


#ID_s2_txt01,#ID_s2_txt01,#ID_s4_txt01 { word-spacing:1px !important; font-family:arial !important;}