
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

.glowblack{ text-shadow:
    0px 0px 3px #393536,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #393536,  
    1px -1px 0 #393536,
   -1px  1px 0 #393536,
    1px  1px 0 #393536;}

#ID_router_txt1,#ID_router_txt2,#ID_router_txt3,#ID_router_txt4
{
padding-left:4px !important;
}
#ID_router_txt2,#ID_router_txt4{letter-spacing:-.5px !important;}

.orange1{width:98.5%;display:inline-block;padding:2px;margin-left:-2px;}
#ID_router_txt4
{
width:412.25px !important;	
}

.orange2{
margin: 0 0 0 -3px;
    padding: 0 0 0 3px;
	
}

#ID_s1_txt06 { color:#fff !important; font-weight:bold; text-shadow:-2px 2px 2px #000000;}
#ID_s1_txt06 { text-shadow:
    0px 0px 2px #1D1D1D,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 2px #1D1D1D, 
    1px -1px 2px #1D1D1D,
   -1px  1px 2px #1D1D1D,
    1px  1px 2px #1D1D1D;}
#ID_r2_txt01 {line-height:13.5px; letter-spacing:-0.5px;}
#ID_s3_txt01 span {background-color:#FACCA8;}
#ID_s5_txt01 span {background-color:#FACCA8;}
#ID_s5_txt01 {letter-spacing: -0.3px;line-height: 14.8px;}
#ID_s4_txt01 {padding-bottom:5px;}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
 .orange1{width:99.1%;display:inline-block;padding:2px;margin-left:-2px;}
/*#ID_r2_txt01 {line-height:14.6px;}
#ID_s2_txt01 {top:-6px !important;}*/
}
