
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
font[face="_typewriter"]{ font-family:courier new !important;}
#router_text1{line-height:15px}
span.tb{background-color: #FACCA8; left: 2px !important; margin: 0;padding-left: 30px; position: absolute; width: 92.9%;}
@media only screen and (device-width: 768px) {
 span.tb{background-color: #FACCA8; left: 0; margin: 0;padding-left: 28px; position: absolute; width: 94%;}
}