
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt06,#ID_s1_txt07,#ID_s2_txt08,#ID_s3_txt18,#ID_s4_txt25,#ID_s4_txt26,#ID_s4_txt27{background:#FFF;}
#ID_s1_txt08 font,#ID_s2_txt16 font,#ID_s3_txt19 font{font-size:10px !important;}
#ID_s1_txt08 li,#ID_s2_txt16 li,#ID_s3_txt19 li{margin-left:2em;}
#ID_s2_txt04 b{color:#F26200 !important;}
#ID_s4_txt26,#ID_s4_txt27{line-height:12px;padding:0 0 0 5px;width:62px !important; margin: 0 0 0 2px !important;}
#ID_s4_txt14{letter-spacing:-.5px;}

@media all and (device-width: 768px) and (device-height: 1024px) {
li {margin-left:0px !important;}
}
   #ID_s4_txt01,#ID_s3_txt01,#ID_s2_txt01,#ID_s1_txt01{letter-spacing:-0.5px;}
   #ID_s4_txt23{line-height:10px;}
   #ID_s4_txt14{line-height:10px;}
   #ID_s3_txt16{line-height:10px;}
   #ID_s3_txt12{line-height:10px;}