
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
 #ID_bubble01  p{margin:2px !important;}
 #ID_bubble02  p{margin:2px !important;}
 #ID_bubble03  p{margin:2px !important;}
 #ID_bubble04  p{margin:2px !important;}
 #ID_bubble05  p{margin:2px !important;}
 #ID_bubble06  p{margin:2px !important;}
 #ID_bubble07  p{margin:2px !important;}
 #ID_bubble08  p{margin:2px !important;}
 #ID_bubble01{margin-left:-8px !important;}
 #ID_bubble02{margin-left:-7px !important;}
 #ID_bubble03{margin-left:-6px !important;}
 #ID_bubble05{margin-left:-6px !important;}
 #ID_bubble06{margin-left:-8px !important;}
 #ID_bubble07{margin-left:4px !important;}
 #ID_bubble08{margin-left:-8px !important;}
 
 
 