
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}


#content {
    width: 37%;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#wrapper {
    left: 0px;
    top: 5px;
    width: 445px;
    height: 400px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
	
	box-shadow: none !important;
	margin: 0 -5px !important;
}

#slidetitile {
    position: absolute;
    width: 435px;
    top: 10px;
    font-size: 14px;
    display: block;
    text-align: center;
    color: white;
}

#imageflow {
    position: absolute;
    left: 0;
    top: 76px;
    width: 432px;
    height: 12px;
    background-image: url(envelop_flow.gif);
    background-position: center;
    background-repeat: no-repeat;
}

#flowbg {
    position: absolute;
    left: 3px;
    top: 66px;
    width: 432px;
    height: 32px;
}

#year {
    position: absolute;
    left: 3px;
    top: 182px;
    width: 56px;
    height: 17px;
    text-align: right;
    padding-top: 2px;
    padding-right: 5px;
    border-top: solid 4px #0E6360;
}

#standard {
    position: absolute;
    left: 3px;
    top: 208px;
    padding-right: 5px;
    width: 56px;
    height: 17px;
    text-align: right;
    padding-top: 2px;
    border-top: solid 4px #0E6360;
}

#description {
    position: absolute;
    left: 3px;
    top: 258px;
    padding-right: 5px;
    width: 56px;
    height: 17px;
    text-align: right;
    padding-top: 2px;
    border-top: solid 4px #0E6360;
}

#wrapper table td {
    border: none;
}

#wrapper1 {
    position: relative;
    height: 185px;
    top: -17px;
    left: 64px;
    width: 371px;
    border-left: solid 2px #0E6360;
    border-right: solid 2px #0E6360;
    border-top: solid 2px #0E6360;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 16px;
}

#div1 {
    width: 2015px;
    height: 20px;
}

#tablediv table {
    border-collapse: collapse;
}

#tablediv {
    width: 372px;
    position: relative;
    height: 180px;
    top: 182px;
    left: 65px;
    background-color: #fff;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

.row1 {
    width: 175px;
    margin: 0px;
    float: left;
    display: block;
    height: 22px;
    background-color: #fff;
    text-align: left;
    padding: 1px;
    border: solid 2px #0E6360;
}

.row2 {
    width: 175px;
    margin-left: 0px;
    float: left;
    display: block;
    height: 44px;
    background-color: #fff;
    text-align: left;
    padding: 1px;
    border: solid 2px #0E6360;
}

.row3 {
    width: 175px;
    float: left;
    display: block;
    height: 130px;
    background-color: #fff;
    text-align: left;
    padding: 1px;
    border: solid 2px #0E6360;
}

#pointer {
    position: relative;
    left: 0px;
    display: block;
    top: 0px;
    width: 41px;
    height: 26px;
    background-color: #99d5ef;
    border-radius: 4px;
    text-align: right;
}

#slidebar {
    position: absolute;
    width: 300px;
    left: 72px;
    display: block;
    top: 132px;
    height: 26px;
}

#yeardiv {
    position: absolute;
    width: 340px;
    left: 82px;
    display: block;
    top: 140px;
    height: 23px;
}

#ID_instruction {
    position: absolute;
    font-size: 11px;
    width: 435px;
    left: 3px;
    display: block;
    top: 367px;
    height: 23px;
}

.xmltables {
    border-collapse: collapse;
}

.xmltables tbody tr {
    border-color: #98D3D1;
}

.xmltables tbody tr td {
    border-color: #a2aa23;
    font-size: 11px !important;
    font-weight: normal;
    border: 3px solid #98D3D1;
    border-collapse: collapse;
    padding: 1px 5px;
}

.xmltables  tbody tr td b {
    font-size: 11px !important;
    font-weight: bold !important;
    border-collapse: collapse;
    padding: 0 1px;
}

.xmltables  tbody tr td font {
    line-height: 0 !important;
    height: 0px !important;
    margin: 0px;
    padding: 0px;
    text-align: top;
}

.table_font {
    border-color: #a2aa23;
    font-size: 11px !important;
    font-weight: bold !important;
    width: 33% !important;
}

.font_title_mid {
    font-size: 10px !important;
    font-weight: bold !important;
}

.col_1 {
    line-height: 0;
 /*display:block;*/
    margin-top: -41px;
    padding-bottom: 5px;
}




.title_none {
    height: 1px !important;
}

.liner {
    line-height: 0 !important;
    height: 0px !important;
    margin: 0px;
    padding: 1px;
}

.liner_thin {
    line-height: 0 !important;
    height: 0px !important;
    margin: 0px;
    padding: 1px;
}

li {
    margin-left: 2em !important;
    padding-left: 8px;
}

.liner_top {
    line-height: 0 !important;
    height: 0px !important;
    margin: 0px;
    padding: 1px 0 1px 0;
}

.subnetId {
    font-size: 9px;
    font-weight: bold !important;
    border-collapse: collapse;
}

.titleFont {
    font-size: 10px;
    font-weight: bold !important;
    border-collapse: collapse;
}

.col1 {
    width: 30px !important;
}

.col2 {
    width: 30px !important;
}

.col3 {
    width: 30px !important;
}

.col4 {
    width: 30px !important;
}

.col5 {
    width: 30px !important;
}

.col6 {
    width: 70px !important;
}

.col7 {
    width: 30px !important;
}

#ID_s2_txt01 {
    background: #FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px;
    padding: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.wider { width:18% !important;}

@media only screen and (device-width: 768px) {
    
	#wrapper {
    left: 10px;
    }
	
	
	
	#tablediv {
        width: 374px;
        position: relative;
        height: 174px;
        top: 182px;
        left: 64px;
        background-color: #fff;
        display: block;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    #wrapper1 {
        display: none;
    }

    #yeardiv {
        position: absolute;
        width: 340px;
        left: 82px;
        display: block;
        top: 152px;
        height: 23px;
    }

    #pointer {
        position: relative;
        left: 0px;
        display: block;
        top: 12px;
        width: 41px;
        height: 26px;
        background-color: #99d5ef;
        border-radius: 4px;
        text-align: right;
    }

    #ID_s2_table01 {
        box-shadow: 0 0 2px 2px #999999 !important;
        width: 420px !important;
        height: 101px !important;
		margin: 0 0 0 0px;
        border-radius: 5px !important;
        overflow: auto !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }

    #ID_s2_table02 {
        box-shadow: 0 0 2px 2px #999999 !important;
        width: 420px !important;
        height: 86px !important;
        border-radius: 5px !important;
        overflow: auto !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    };
}

.thead{
	color:#000000;}